@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');



* {
    font-family: 'suse';
    box-sizing: border-box;            
}

/************ HEADER ***********/
.poster img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}


nav.menu {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    color: #fff;
    margin: 20px 20px;
    white-space: nowrap;
    gap: 15px;
}

nav.menu a {
    font-size: 16px;
    text-decoration: none;
    border-radius: 50px;    
    color: #ffffff;
    padding: 10px 50px;
    transition: 0.4s;
    display: inline-block;    
    background-color: #000;    
}

.menu a:hover, button:hover, .btn:hover, .entradas button:hover, .carta:hover img {
    cursor: pointer;
    transform: scale(1.1);
    letter-spacing: 2px;
}


/**************** HOME **************/
.primero {
    background-color: #000;
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.segundo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #ffffff;
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.tercero {
    background-color: #ffffff;
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;    
    
    .enc-evento h1{
    font-size: 60px;       
    text-transform: uppercase;    
    }  

    .enc-evento{        
        width: 90%;         
        text-align: left;
        margin-top: 100px;        
    }    
    
    .text-white {
        color: white;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 10);
    }
    
    .text-black {
        color: black;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 10);
    }

    .contenedorimg{    
    width: 100%;
    height: auto;
    margin-right: 20px;
    display: block;
    }

    .centrartitulo {
    position: absolute;
    top: 3%;
    left: 48%; 
    transform: translate(-50%, -50%); 
    font-size: 40px;
    font-weight: bold;
    color: black; 
    text-transform: uppercase;
    white-space: nowrap; 
    z-index: 1; /* El título esté por encima de otros elementos */            
    }    
}    

.cuarto {
    background-color: #000000;
    padding: 20px 0;
    margin: 0 auto;
    width: 100%; 
    color: #F5F5F5;      
    
    .enc-evento h1{
    font-size: 60px;       
    text-transform: uppercase; 
    color: #F5F5F5;       
    }  

    .enc-evento{        
        width: 90%;         
        text-align: left;
        margin-top: 100px;        
    }            

    .contenedorimg{    
    width: 100%;
    height: auto;
    margin-right: 20px;
    display: block;
    }

    .list {
        margin: 0;
        text-align: left;        
    }

    .btn{
        background: #F5F5F4;
        color: #000;
    }

}

.section2 {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 60px;
    width: 100%;
    align-items:center;
    position: relative;
}

section {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    width: 100%;
    align-items: center;

}

section div, .section2 div {
    margin-right: 10px;
}

.title {
    width: 20%;
    margin-bottom: 10px;
}


.event,
.event2 {
    width: 30%;
    height: auto;
    margin-left: 20px;
    margin-bottom: 20px;
}

.contenedorimg, .contenedorimg2 {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 600px;
    padding: 10px;
}

.contenedorimg img, .contenedorimg2 img {
    display: block;
    width: 100%;
    height: auto;    
}

.text-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;        
    padding: 2px;
    border-radius: 5px;
}

.text-over h1 {
    margin: 0;
    font-size: 100px;
    font-family: "PT Serif";
    font-weight: 400;
    line-height: 80px;
}

.text-over p {
    margin: 0;    
    margin-top: 30px;    
    font-size: 30px;    
    font-weight: 400;       
}

.primero p {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    align-items: center;
} 

.segundo .enc-evento p, .tercero .enc-evento p {
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    line-height: 30px;
    margin: 20px;
} 

.btn {
    width: auto;
    margin: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 15px ;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}


.primero .btn {
    margin-left: 600px;
    background-color: #F5F5F5;
    color: #000;
    text-align: center;
    padding:20px;
    margin: 0%;    
}

.publicidad {
    background-color: #ffffff;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publicidad img {
    width: 70%;
}

.publicidad .btn {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    background-color: #000;
    color: #ffffff;
}

/***********ESPACIO ARTISTAS***********/

.artistas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.carta {
    background-color: #000000;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #fff;
    padding: 20px;
}

.carta:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
}

.carta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.carta h3 {
    margin: 15px 0 10px;
    font-size: 20px;
    color: #ffffff;
}

.carta p {
    font-size: 16px;
    color: #ffffff;
    margin: 0;    
}

/*************FOOTER**************/
footer {
    background: rgba(0, 0, 0, 0.50);
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

footer.top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    gap: 20px;
    border-bottom: 2px solid #fff;    
    align-items: center;
}

footer img {    
    width: 20%;
    height: auto;
    max-width: 100%;    
}

footer.top .links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-items: flex-start;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: first baseline;    
    justify-content: left;  
    gap: 10px;     
}

.info a {
    font-size: 15px;
    color: black;    
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

footer.bottom {
    padding: 20px 0 ;
    justify-content: space-around;
    width: 100%;    
}

/*CONTÁCTANOS */
footer a {
    text-decoration: none;
    color: #fff;
}

footer h2 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

footer p {
    color: #fff;
    margin-top: 20px;
}

footer .legal {
    font-size: 14px;
    color: #fff;    
}

footer .legal > span {
    margin-right: 10px;
    margin-left: 20px;    
}

/*************QUIENES SOMOS************/
.somos {
    background-color: #000;
    padding-bottom: 100px;
}

.somos img {
    width: 20%;
    margin-top: 90px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.somos p {
    margin-top: 100px;
    margin: left 0px;
    color: #fff;
}


/***********EVENTOS*****************/
/*Se creó unos estilos determinado para el artículo de eventos*/
.enc-evento {
    margin: 10px 10px 50px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.enc-evento img {
    width: 50%;
    height: max-content;
}

.enc-evento h1, .publicidad h1{
    font-size: 40px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    line-height: 1;
}

.evento-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}

/*Llega hasta acá*/

.cartas {
    margin: 10px 10px 50px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cartas img {    
    width: 30%;
    height: 500px ;
    max-width: 250px;
    transition: transform 0.3s ease;    
    border-radius: 5px;
    object-fit: cover;

}

.cartas img:hover {
    transform: scale(1.1);
}


/***********GALERIA*****************/

.galeria {
    margin: 10px 10px 50px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.galeria img {
    width: 30%;
    max-width: 250px;
    transition: transform 0.2s ease;
    border-radius: 8px;
    cursor: pointer;
    clip-path: circle(50%);

}

.galeria img:hover {
    transform: scale(1.1);
    clip-path: none;
}

/************* CONTACTO ****************/
.primero h2, .entradas h1, .primero h1{
    font-size: px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    line-height: 60px;
}

.colorful-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1c1c1c; 
    border-radius: 10px;
    font-family: "suse";
    color: #f5f5f5; 
    text-transform: uppercase;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.form-group {
    margin-bottom: 20px;
    padding: 10px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #f0f0f0; 
    font-size: 18px;
    text-align: left;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333; 
    color: #f0f0f0; 
    border-radius: 5px;
    font-size: 16px;
}

textarea.form-input {
    height: 100px;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: #1fbfc2; 
    color: #fff; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    letter-spacing: 3px;
    background-color: #0b6869; 
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px; 
}


/**********LEER MAS***************/
.images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    gap: 20px;
}

.img-art {
    width: 90%;
    margin-left: 20px;
    margin-right: 0;
    float: left;
    cursor: pointer;
}

.img-art:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/******** COMPRAR AQUÍ ******/
.entradas{
    background-color: #ffffff;
    margin-bottom: 80px;
    text-align: center;    
}

.entradas h1 {
    color: #000000;
    font-size: 2.5em;
    padding: 30px;    
}

.entradas .content {
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 30px; /* Espacio entre las cartas */       
    margin: auto;
}

.entradas .box {
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    padding: 20px;    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    color: #f0f0f0;
    position: relative;
    width: 30%; 
    max-width: 350px; 
    height: auto;    
}

.entradas .box:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.4);
}

.entradas .box:nth-child(3) {
    width: 300px;
    padding: 30px;
    background: #044142;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
    margin-bottom: 100px;
}

.entradas .titleb {
    font-size: 1.8em;
    margin: 10px;
    color: #ffffff;    
    text-align: center;
}

.entradas .view {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.entradas .icon img {
    width: 80px;
    height: auto;
    filter: brightness(0) invert(1);
}

.entradas .cost {
    font-size: 2em;
    font-weight: bold;
    color: #1fbfc2;
}

.entradas .detail {
    font-size: 0.75em;
    color: #ffffff;
}

.entradas .description {
    font-size: 0.9em;
    line-height: 1.5;
    text-align: left;
}

.entradas li {
    margin: 10px 0;
    color: #ffffff;
    position: relative;
    padding-left: 20px;
    list-style: none;
}

.entradas li::before {
    content: "✓";
    position: absolute;
    left: 0;
    color: #1fbfc2;
    font-size: 1.1em;
}

.entradas .button {
    margin-top: 20px;
}

.entradas button {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    color: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.entradas button:hover {
    background: #0b6869;
}


/* DISEÑO RESPONSIVE */
/************** MEDIA QUERIES *************/
/* Responsive */
@media (0px <=width <=980px) {

    /* HEADER */
    iframe {
        height: 250px;
        /* Ajusta la altura para pantallas pequeñas */
        width: 250px;
    }

    .poster img {
        min-width: 100%;
    }

    nav.menu {
        gap: 10px;
        margin:1px;
        margin-top: 20px;
        padding: 0%;
    }

    nav.menu a {
        font-size: 14px;
        padding: 10px;
    }

    /* HOME */
    .poster {
        width: 100%;
        height: 100%;
    }

    .title,
    .event,
    .event2 {
        width: 100%;
        max-width: 300px;
        height: 100%;
        flex-direction: column;
        margin: 0 auto;

    }

    .primero,
    .publicidad,
    .segundo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 20px 0;
        width: 100%;
        text-align: center;
    }    

    .primero .title {
        width: 100%;
    }

    .primero .event,
    .primero p,
    .primero .btn,
    .segundo .btn,
    .publicidad .btn {
        text-align: left;
        margin: 10px;
        font-size: 16px;
        box-sizing: border-box;
    }

    section,
    .section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 5px;
        width: 100%;        
    }

    section div {
        margin-right: auto;
    }

    p {
        font-size: 1em;
        margin: 10px 0;
        padding: 0 10px;
    }

    /* QUIENES SOMOS */
    .somos img {
        width: 100%;
        max-width: 80%;
        margin: 10px auto;
        display: block;
    }

    /* FOOTER */
    footer,
    footer.bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        padding: 20px;
        width: 100%;
    }

    footer.top .links,
    .info{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: left;
    }
    
    .info a,
    footer .legal,
    footer h2 {
        font-size: 14px;
    }

    footer img {
        width: auto;
        max-width: 40%;
        margin: 10px auto;
    }

    /* GALERIA Y EVENTOS */
    .cartas,
    .galeria, .images {
        flex-direction: row;
        align-items: center;
    }

    .cartas img,
    .galeria img{
        width: 45%;
        height: 200px ;
        object-fit: cover;        
    }
        
    .enc-evento {
        margin: 10px 10px 50px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .enc-evento img {
        width: 30%;
        height: auto;
    }

    .enc-evento h1 {
        font-size: 20px;
        color: #000000;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
    }

    .evento-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .evento-info img {
        width: 60%;
        max-width: 300px;
    }

    .cuenta-regresiva {
        max-width: 200px; 
        padding: 20px;
    }    

    /* LEER MAS */
    .images { 
        display: flex;       
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        width: 100%;
        max-width: 300px;
        height: 100%;
        margin: 0 auto;
    }

    .img-art {        
        width: 100%;
        max-width: 80%;
        margin: 10px auto;
        display: block;        
    }

    .art p,
    .art2 p,
    .art3 p {
        font-size: 1em;
        padding: 10px;
        text-align: center;
    }

    .entradas .content {
        flex-direction: column;
        align-items: center;
        gap: 80px; /* Ajusta el espacio entre las cartas como prefieras */
    }

    .entradas .box{
        width: 80%; /* Ajusta el ancho según lo necesites, 80% centrará bien las cartas */
        max-width: 350px;
        margin-right: 10px;
    }

    .contenedorimg {
        position: relative;
        display: flex;
        margin: 0;
        min-width: 30%;
        justify-content: center;
    }

    .contenedorimg2 {        
        display: flex;
        flex-direction: column;
        margin: 0;
        min-width: 30%;
        justify-content: center;
    }

    .contenedorimg img {
        display: block;
        width: 80%;
        height: auto;
        margin:0 ;
    }

    .text-over h1 {
        font-size: 40px;
        line-height: 35px;
    }

    .text-over p {
        font-size: 1em;
        margin-top: 20px;
    }

    .tercero, .cuarto {
        .centrartitulo {            
            top: -3%;            
            left: 48%;
            line-height: 60px;
            white-space: normal;            
            text-align: center;            
        }

        .enc-evento{
            margin: 0;
        }
    } 
    
    .primero h1, .primero h2{
        color: #F5F5F5;
        line-height: 40px;
        margin: 0;
    }
     
}
